@tailwind base;
@tailwind components;
@tailwind utilities;

/* NOTE: Fonts like Anton (used for App Title) and Raleway (used for rest of the App) have been used 
         from the Google Fonts API, and have been imported in the index.html file.  
*/

body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

h1 {
  @apply text-6xl font-medium sm:text-7xl md:text-8xl; /* another way to apply tailwind classes to HTML elements */
}

h4 {
  @apply text-3xl; /* tailwind class */
}

p {
  @apply text-xl m-5 sm:text-2xl; /* tailwind classes */
}

div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

video {
  /* display: none; */
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  margin: 0;
  object-fit: cover; /* to specify how the video should be resized to fit its container (<body> in this case) */
  filter: sepia(30%) opacity(0.8);
}

.not-front-page {
  filter: sepia(30%) opacity(0.8) blur(5px);
}

.bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url('https://s3-us-west-1.amazonaws.com/contentlab.studiod/getty/f38449d949b744a8ae5cb79029f8165d');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px) sepia(50%) opacity(0.8) hue-rotate(35deg);
}

.content {
  /* WHERE ALL CONTENT IS DISPLAYED */
  position: relative;
  z-index: 1;
  padding: 30px;
}

.content-item {
  /* WRAPPER FOR CONTENT INSIDE DIV WITH CLASSNAME "CONTENT" (ABOVE) */
  /* STYLES FOR THE MAIN MENU PAGE (COMPONENT). ALSO USED BY OTHER MENU OPTIONS */
  @apply p-8;
  background-color: black;
  color: white;
  text-align: left;
  border-radius: 15px;
  opacity: 0.88;
}
