/* CSS styles for the Launch page using styled-components */

/* class defining fixed-width for ComponentWrapper for Launch page */
.fix-width {
  min-height: 960px;
  min-width: 1060px;
  display: block;
  overflow: auto;
}

/* animation for image slices */
@keyframes fillColor {
  0% {
    filter: grayscale(100%);
  }
  25% {
    filter: grayscale(70%);
  }
  50% {
    filter: grayscale(50%);
  }
  100% {
    filter: grayscale(0%);
  }
}

#image-container {
  position: absolute;
  border: 3px solid green;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

#image-container img {
  /* the original image will be hidden */
  height: auto;
  width: 100%;
  opacity: 0;
  z-index: -1;
}

.slice {
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
  opacity: 1;
  border: 1px solid white;
}

.slice:hover {
  animation: 1 8s fillColor;
}

img {
  width: inherit;
  height: inherit;
}

.grayscale {
  filter: grayscale(100%);
}
